<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="wrap">

    <form action="loginSuccess" method="get" >
      <input type="text" placeholder="请输入已验证手机/邮箱">
      <br>
      <input type="text" placeholder="请输入密码">
      <br>
      <a href="">忘记密码?</a>
      <br>
      <input type="submit" value="登录" id="btn">

    </form>


  </div>

  </body>
</html>